*{
	position: relative;
	left: 50px;
}
div{
	width: 200px;
	height: 200px;
	margin: 1px;
}
.papa{
	padding: 10px;
	width: 900px;
}
.papa2{
	padding: 10px;
	width: 900px;
}
.foto{
	display:inline-block;
	margin: 10px;
}
span{
	color:white;
	position: absolute;
	top: 190px;
}
hr{
	size:5px; 
	color:black;
	width:50px; 
	align:left;
	margin: 15px;
	margin-bottom:100px;
}

